.home-page {
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    padding: 30px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listCards {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    place-items: center;
    gap: 24px;
}

.video-card {
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.title-video-card {
    text-transform: uppercase;
}

.video-card-description {
    text-align: justify;
}

.home-page-video {
    height: 170px;
}