* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-image: url(../public/img/background.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:visited {
  color: rgb(0, 0, 0);
}

img {
  width: 100%;
}