* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(../public/img/background.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
